* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #6f36ff;
}

.wrapper {
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.wrapper header {
    font-size: 23px;
    font-weight: 500;
    color: #6f36ff;
    padding: 17px 30px;
    border-bottom: 1px solid #bfbfbf;
    
}

.wrapper header.active{
    cursor: move;
    user-select: none;
}

.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px 40px;
}

.content .icon {
    height: 95px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #6f36ff;
}

.content .icon i {
    color: #6f36ff;
    font-size: 60px;
}

.content .title {
    font-size: 29px;
    font-weight: 500;
    margin: 15px 0;
}

.content p {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}